body{
  font: 100%;
  background-color: antiquewhite;
  padding: 2px;
  margin: -1px;
}


/* Header **/
header{
    padding-top: 10px;
    min-height: 100px;
   background-color: #99d6ff;
   color:#ff1a1a;
    border-bottom-style: inset;
}
  
  footer{
    text-align: center;
    text-decoration-line: none;
    background-color: #b3ffe0;
    font-weight: bold;
    
    color: #ff1a8c;
    padding: 20px 70px 5px 1px;
    margin: -7px; 
  }

